Fernando Isaí González Castillo 1819011  Grupo 002

- Programa 1 Hola mundo

In [122]:
print("Hola mundo!!")

Hola mundo!!

### Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [123]:
matricula=1819011
nombre= "Fernando Isai Gonzalez Castillo"

In [124]:
datos=nombre + ' '+ str(matricula)
print(datos)

Fernando Isai Gonzalez Castillo 1819011

- Programa 2: Matemáticas sencillas

In [4]:
a= 10
b= 54

c=a+b**2
print(a,b,c)

10 54 2926

- Programa 3: Input del usuario

In [125]:
a1= int(input("Introduce un número: "))
b1= int(input("Introduce otro número: "))

Introduce un número: 15
Introduce otro número: 20

In [126]:
print("Primer número: ", a1)
print("Segundo número: ", b1)

Primer número:  15
Segundo número:  20

### Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [127]:
num1=int(input("Teclea el primer número: "))
num2=int(input("Teclea el segundo número: "))

Teclea el primer número: 5
Teclea el segundo número: 3

In [128]:
suma= num1+num2
resta1=num1-num2
resta2= num2-num1
multiplicacion=num1*num2
division=num1/num2
potencia=num1**num2

In [129]:
print("La suma de", num1, "+",num2, "es", suma)
print("La resta de", num1, "-", num2, "es", resta1)
print("La resta de", num2, "-", num1, "es", resta2)
print("La multiplicación de", num1, "*",num2, "es", multiplicacion)
print("La division de", num1, "/",num2, "es", division)
print("La potencia de", num1, "^",num2, "es", potencia)

La suma de 5 + 3 es 8
La resta de 5 - 3 es 2
La resta de 3 - 5 es -2
La multiplicación de 5 * 3 es 15
La division de 5 / 3 es 1.6666666666666667
La potencia de 5 ^ 3 es 125

- Programa 4: Utilizando el loop de while

In [130]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

- Programa 5: Utilizando la función de range

In [131]:
print("range(10)-->", list(range(10)))
print("range(0,20)-->", list(range(0,20)))
print("range(10,20)-->", list(range(10,20)))
print("range(0,20,2)-->", list(range(0,20,2)))
print("range(-10,-20,2)-->", list(range(-10,-20,2)))
print("range(-10,-20,-2)-->", list(range(-10,-20,-2)))

range(10)--> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0,20)--> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(10,20)--> [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2)--> [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2)--> []
range(-10,-20,-2)--> [-10, -12, -14, -16, -18]

- Programa 6: Utilizando la funcion de range en el loop de for

In [132]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [133]:
for i in range(1,11):
    print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

### Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [134]:
lista=[]

In [135]:
for i in range(1,11):
    lista.append(3*i)
print(lista)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [136]:
suma=0
j=1
while j<=10:
    suma=suma+lista[j-1]
    j=j+1
    
print(suma)

165

- Programa 7: If else

In [137]:
a = int(input("Introduce primer número: "))
b = int(input("Introduce segundo número: "))
if  a > b: 
    print (a," > ",b)
else:
    print (a," < ",b)

Introduce primer número: 20
Introduce segundo número: 40
20  <  40

### Ejercicio 4
- Con una función de if else, revisar si un número es par o es impar.

In [138]:
numero=int(input("Teclee un número: "))
numero
if numero%2==0:
    print("El numero", numero, "es par")
else:
    print("El numero", numero, "es impar")

Teclee un número: 10
El numero 10 es par

- Con una función de if else, revisar si un número es primo o no.

In [140]:
positivo=-1

#Determinar si es positivo o negativo
while positivo<0:
    numero=int(input("Teclee un número: "))
    positivo=numero
    
numero
bandera=0
for i in range(1, numero+1):
    modulo=numero%i
    if(numero%i==0):
        bandera=bandera+1
    else:
        bandera=bandera+0

if bandera==2:
    print("El numero", numero, "es primo")
    #2 porque conto que solo se dividio entre 1 y el mismo

else:
    print("El numero", numero, "no es primo")

Teclee un número: -5
Teclee un número: 33
El numero 33 no es primo

Programa 8: Uso de funciones en Python

In [142]:
def Suma(a,b):
    c=a+b
    return c
print ("Suma(10,20) -->", Suma(10,20))
print ("Suma(20,50) -->", Suma(20,50)) 
print ("Suma(80,200) -->", Suma(80,200))

Suma(10,20) --> 30
Suma(20,50) --> 70
Suma(80,200) --> 280

### Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [1]:
numero1=int(input("Teclee un numero: "))
numero2=float(input("Teclee un numero: "))
numero1
numero2
class calculadora1():
    def __init__(self, numero1, numero2):
        self.numero1=numero1
        self.numero2=numero2
        
    def operaciones(self):
        suma=self.numero1+self.numero2
        resta=self.numero1-self.numero2
        multiplicacion=self.numero1*self.numero2
        division=self.numero1/self.numero2
        potencia=self.numero1**self.numero2
        print("La suma de ", self.numero1  , "+",self.numero2, "es", suma)
        print("La resta de", self.numero1, "-", self.numero2, "es", resta)
        print("La multiplicación de", self.numero1, "*",self.numero2, "es", multiplicacion)
        print("La division de", self.numero1, "/",self.numero2, "es", division)
        print("La potencia de", self.numero1, "^",self.numero2, "es", potencia)
        
class calculadora2():
    def __init__(self, numero1, numero2):
        self.numero1=numero1
        self.numero2=numero2
        
    def operaciones(self):
        suma1=self.numero2+self.numero1
        resta1=self.numero2-self.numero1
        multiplicacion1=self.numero2*self.numero1
        division1=self.numero2/self.numero1
        potencia1=self.numero2**self.numero1
        print("\nLa suma de ", self.numero2  , "+",self.numero1, "es", suma1)
        print("La resta de", self.numero2, "-", self.numero1, "es", resta1)
        print("La multiplicación de", self.numero2, "*",self.numero1, "es", multiplicacion1)
        print("La division de", self.numero2, "/",self.numero1, "es", division1)
        print("La potencia de", self.numero2, "^",self.numero1, "es", potencia1)

          
cal=calculadora1(numero1,numero2)
cal.operaciones()
calcu=calculadora2(numero1,numero2)
calcu.operaciones()

Teclee un numero: 10
Teclee un numero: 5.5
La suma de  10 + 5.5 es 15.5
La resta de 10 - 5.5 es 4.5
La multiplicación de 10 * 5.5 es 55.0
La division de 10 / 5.5 es 1.8181818181818181
La potencia de 10 ^ 5.5 es 316227.7660168379

La suma de  5.5 + 10 es 15.5
La resta de 5.5 - 10 es -4.5
La multiplicación de 5.5 * 10 es 55.0
La division de 5.5 / 10 es 0.55
La potencia de 5.5 ^ 10 es 25329516.211914062

- Funciones matemáticas en la libreria de math en python

In [144]:
import math as m

print ("Función exponencial --> ", m.exp(-200))  
print ("Log --> ", m.log(100,2)) 
print ("Log  --> ", m.log(100,10))
print ("Log 10 --> ", m.log10(100))
print ("Coseno --> ", m.cos(30))
print ("Seno --> ", m.sin(30))
print ("Tangente --> ", m.tan(30))
print ("Raiz cuadrada --> ", m.sqrt(324))
print ("Valor techo --> ", m.ceil(89.9))
print ("Valor piso --> ", m.floor(89.9))

Función exponencial -->  1.3838965267367376e-87
Log -->  6.643856189774725
Log  -->  2.0
Log 10 -->  2.0
Coseno -->  0.15425144988758405
Seno -->  -0.9880316240928618
Tangente -->  -6.405331196646276
Raiz cuadrada -->  18.0
Valor techo -->  90
Valor piso -->  89

- Como utilizar variables de string como listas para buscar elementos:

In [145]:
var1 = 'Hola mundo!'
var2 = "Programas de python"
 
print ("var1 -->", var1)
print ("var2 -->",var2)
print ("var1[0] -->", var1[0])
print ("var2[1:5] -->", var2[1:5])
print ("var2[:-5] -->", var2[:-5])

var1 --> Hola mundo!
var2 --> Programas de python
var1[0] --> H
var2[1:5] --> rogr
var2[:-5] --> Programas de p

In [148]:
var1 = 'Hola mundo!'
var2 = "Programas de python"

print ("var1 --> ", var1)
print ("var2 --> ",var2)

print ("\nTamaño de var1 --> : ", len(var1))
print ("Tamaño de var2 --> : ", len(var2))

print ("\nUppercase para var1 --> : ", var1.upper())
print ("Upper case para var2 --> : ", var2.upper())

print ("\nLower case para var1 --> : ", var1.lower())
print ("Lower case para var2 --> : ", var2.lower())

var1 -->  Hola mundo!
var2 -->  Programas de python

Tamaño de var1 --> :  11
Tamaño de var2 --> :  19

Uppercase para var1 --> :  HOLA MUNDO!
Upper case para var2 --> :  PROGRAMAS DE PYTHON

Lower case para var1 --> :  hola mundo!
Lower case para var2 --> :  programas de python

Con input del usuario, revisar como introducir valores de numeros, letras y flotantes dentro de un print:

In [149]:
name=input("Introduce tu nombre: ")
age=int(input("Introduce tu edad: "))
price=float(input("Precio de tu item: "))
s="Tu nombre es %s, edad es %d y el precio de tu item es %f" %(name.upper(),age,price)
print (s)

Introduce tu nombre: Fernando
Introduce tu edad: 20
Precio de tu item: 50
Tu nombre es FERNANDO, edad es 20 y el precio de tu item es 50.000000

Introducción para el manejo de errores en Python:

In [150]:
for i in range(-5,6):
    print ("100/",i," --> ", 100/i)

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0

ZeroDivisionError: division by zero

In [151]:
for i in range(-5,6):
    try:
        print ("100/",i," --> ", 100/i)
    except:
        print ("100/",i ,"es error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
100/ 0 es error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [2]:
archivo=input("Introduce el nombre del archivo: ")
fp=open(archivo)
fp.close()
print ("Terminado")

Introduce el nombre del archivo: hola

FileNotFoundError: [Errno 2] No such file or directory: 'hola'

In [3]:
archivo=input("Introduce el nombre del archivo: ")
try:
    fp=open(archivo)
    fp.close()
except:
    print ("Error !! Archivo no encontrado")

print ("Terminado")

Introduce el nombre del archivo: hola
Error !! Archivo no encontrado
Terminado

In [154]:
lista1 = [1,2,3,4,5]

for i in range(8):
    try:
        print (i," --> ", lista1[i])
    except:
        print ("error")

    
len(lista1)

0  -->  1
1  -->  2
2  -->  3
3  -->  4
4  -->  5
error
error
error

5

In [155]:
lista1 = [1, 2, 3, 4, 5, 6, 7]

for i in range(len(lista1)):
    try:
        print(i, "-->", lista1[i])
    except:
        print("Error")

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
5 --> 6
6 --> 7

- Creación de numeros aleatorios

In [156]:
import random as r
print (r.random())
print (r.randint(1, 100))
print (r.uniform(1, 100))

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (r.sample(A, 4))

0.17618156680324426
38
47.723044888281635
[2, 8, 1, 4]

### Ejercicios con estructuras basicas de python
#### Tupla
- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [157]:
f=0.5
i=10
b= True
c= 4j

In [158]:
print(type(f))
print(type(i))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

- Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [5]:
tupla1=(1, 'hola', 2, 'adios', True)

Valor inicial:

In [6]:
tupla1[0]

1

In [7]:
n=len(tupla1)
n

5

Valor final:

In [8]:
tupla1[n-1]

True

- Añadir 3 valores de string a la tupla.

In [165]:
tupla1 = tupla1.__add__(('abc', 'def', 'ghi', ))

In [166]:
tupla1

(1, 'hola', 2, 'adios', True, 'abc', 'def', 'ghi')

- Verificar si una variable existe dentro de la tupla.

In [167]:
'hola' in tupla1

True

In [168]:
'Fernando' in tupla1

False

#### Listas

- Crear una lista con 40 elementos aleatorios enteros

In [184]:
import random as r
lista1=[]

In [185]:
for i in range(1,41):
    x=r.randint(1, 100)
    lista1.append(x)
print(lista1)

[56, 36, 5, 96, 46, 23, 1, 51, 37, 65, 67, 48, 63, 86, 17, 28, 93, 70, 14, 19, 63, 56, 30, 83, 21, 6, 35, 98, 79, 62, 58, 1, 57, 33, 66, 26, 47, 1, 4, 24]

In [186]:
len(lista1)

40

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [187]:
par=[]
impar=[]
def ParImpar(lista):
    for i in range(0,40):
        if(lista[i]%2==0):
            par.append(lista[i])
        else:
            impar.append(lista[i])

In [188]:
ParImpar(lista1)

In [189]:
print(par)

[56, 36, 96, 46, 48, 86, 28, 70, 14, 56, 30, 6, 98, 62, 58, 66, 26, 4, 24]

In [190]:
print(impar)

[5, 23, 1, 51, 37, 65, 67, 63, 17, 93, 19, 63, 83, 21, 35, 79, 1, 57, 33, 47, 1]

In [191]:
len(par)+len(impar)

40

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [192]:
n=len(par)
print(n)

19

In [193]:
m=len(impar)
print( m)

21

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [194]:
bandera=0
while(bandera==0):
    bandera=1
    for i in range(0, n-1):
        if par[i]<par[i+1]:
            aux=par[i]
            par[i]=par[i+1]
            par[i+1]=aux
            bandera=0

In [195]:
print(par)

[98, 96, 86, 70, 66, 62, 58, 56, 56, 48, 46, 36, 30, 28, 26, 24, 14, 6, 4]

In [197]:
bandera=0
while(bandera==0):
    bandera=1
    for i in range(0, m-1):
        if impar[i]>impar[i+1]:
            aux=impar[i]
            impar[i]=impar[i+1]
            impar[i+1]=aux
            bandera=0

In [198]:
print(impar)

[1, 1, 1, 5, 17, 19, 21, 23, 33, 35, 37, 47, 51, 57, 63, 63, 65, 67, 79, 83, 93]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [199]:
lista1

[56,
 36,
 5,
 96,
 46,
 23,
 1,
 51,
 37,
 65,
 67,
 48,
 63,
 86,
 17,
 28,
 93,
 70,
 14,
 19,
 63,
 56,
 30,
 83,
 21,
 6,
 35,
 98,
 79,
 62,
 58,
 1,
 57,
 33,
 66,
 26,
 47,
 1,
 4,
 24]

Agregar un dato a la lista, en este caso el numero 1

In [200]:
lista1.append(1) 
print(lista1)

[56, 36, 5, 96, 46, 23, 1, 51, 37, 65, 67, 48, 63, 86, 17, 28, 93, 70, 14, 19, 63, 56, 30, 83, 21, 6, 35, 98, 79, 62, 58, 1, 57, 33, 66, 26, 47, 1, 4, 24, 1]

Cambia el orden de la lista

In [201]:
lista1.reverse() 
lista1

[1,
 24,
 4,
 1,
 47,
 26,
 66,
 33,
 57,
 1,
 58,
 62,
 79,
 98,
 35,
 6,
 21,
 83,
 30,
 56,
 63,
 19,
 14,
 70,
 93,
 28,
 17,
 86,
 63,
 48,
 67,
 65,
 37,
 51,
 1,
 23,
 46,
 96,
 5,
 36,
 56]

Elimina el dato de nuestro ultimo elemento

In [202]:
lista1.pop()
lista1

[1,
 24,
 4,
 1,
 47,
 26,
 66,
 33,
 57,
 1,
 58,
 62,
 79,
 98,
 35,
 6,
 21,
 83,
 30,
 56,
 63,
 19,
 14,
 70,
 93,
 28,
 17,
 86,
 63,
 48,
 67,
 65,
 37,
 51,
 1,
 23,
 46,
 96,
 5,
 36]

Ordena de menor a mayor nuestra lista:

In [204]:
lista1.sort()
lista1

[1,
 1,
 1,
 1,
 4,
 5,
 6,
 14,
 17,
 19,
 21,
 23,
 24,
 26,
 28,
 30,
 33,
 35,
 36,
 37,
 46,
 47,
 48,
 51,
 56,
 57,
 58,
 62,
 63,
 63,
 65,
 66,
 67,
 70,
 79,
 83,
 86,
 93,
 96,
 98]

Combinar dos listas diferentes:

In [205]:
lista1.extend([101, 102, 103])
lista1

[1,
 1,
 1,
 1,
 4,
 5,
 6,
 14,
 17,
 19,
 21,
 23,
 24,
 26,
 28,
 30,
 33,
 35,
 36,
 37,
 46,
 47,
 48,
 51,
 56,
 57,
 58,
 62,
 63,
 63,
 65,
 66,
 67,
 70,
 79,
 83,
 86,
 93,
 96,
 98,
 101,
 102,
 103]

#### Diccionarios

- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [9]:
personas= {'Laura': 47, 'Daniel': 21, 'Fatima': 20, 'Aurora': 49, 'Elizabeth': 50, 'Flavio': 54}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [12]:
edades=list(personas.values())
print(edades)
k=len(edades)

bandera=0
while(bandera==0):
    bandera=1
    for i in range(0, k-1):
        if edades[i]>edades[i+1]:
            aux=edades[i]
            edades[i]=edades[i+1]
            edades[i+1]=aux
            bandera=0
print("\nLa lista con los valores de edad ordenados:")
print(edades)

[47, 21, 20, 49, 50, 54]

La lista con los valores de edad ordenados:
[20, 21, 47, 49, 50, 54]

- Usando el diccionario y un loop, imprimir solo los nombres

In [13]:
for i in personas:
    print(i)

Laura
Daniel
Fatima
Aurora
Elizabeth
Flavio

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [14]:
personas['Esteban']=20
personas['Fabiola']=24

print(personas)

{'Laura': 47, 'Daniel': 21, 'Fatima': 20, 'Aurora': 49, 'Elizabeth': 50, 'Flavio': 54, 'Esteban': 20, 'Fabiola': 24}

#### Sets
- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [113]:
import numpy as np
numeros=set()
for i in range(0,100):
    numeros.add(np.random.randint(1,25))
numeros

{1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24}

- Comprueba la longitud de tu set.

In [114]:
len(numeros)

23

- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [115]:
aleatorio=list()
for i in range(1,6):
    aleatorio.append(np.random.randint(1,10))
    
print(aleatorio)

[7, 9, 2, 5, 8]

In [118]:
for i in range(0,len(aleatorio)):
    print("el numero", aleatorio[i], "esta en el set:" ,aleatorio[i] in numeros)

el numero 7 esta en el set: True
el numero 9 esta en el set: True
el numero 2 esta en el set: True
el numero 5 esta en el set: False
el numero 8 esta en el set: True